<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      
      <li class="breadcrumb-item active" aria-current="page">All Patients</li>
    </ol>
  </nav>

  
  <div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Data Table</h6>
          <div class="table-responsive">
            <table id="dataTableExample" class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Name</th>
                  <th>Phone Number</th>
                  <th>Action</th>
                </tr>

                <tr *ngFor="let patient of Patient; let i = index">
                  <td scope="row">{{patient._id}}</td>
                  <td>{{patient.date}}</td>
                  <td>{{patient.time}}</td>
                  <td>{{patient.firstName}} {{patient.lastName}} </td>
                  <td>{{patient.contactNumber}}</td>
                  <td>                    
                    <!-- view -->
                    <span style="padding-right: 15px;">
                      <i class="fa fa-eye" aria-hidden="true" style="cursor: pointer;"></i>
                    </span>
                    <!-- edit -->
                    <span style="padding-right: 15px;">
                      <i class="fa fa-pencil" aria-hidden="true" style="cursor: pointer;"></i>
                    </span>
                    <!-- delete -->
                    <span style="padding-right: 15px;">
                      <i class="fa fa-trash" aria-hidden="true" style="cursor: pointer;"></i>
                    </span>
                  </td>
                  
                  <td></td>
                  
                </tr>
                
              </thead>
              <tbody>
                
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>