<div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="">Basic Information</h6>
          <h6 class="text-black-50">Secription text here...</h6><br>
            <form [ formGroup ]="doctorForm" (ngSubmit)="createDoctor">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">      
                    <input type="text" class="form-control rounded" placeholder="First Name" formControlName="firstName">
                  </div>
                </div><!-- Col -->
                <div class="col-sm-6">
                  <div class="form-group">      
                    <input type="text" class="form-control rounded" placeholder="Last Name" formControlName="lastName">
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <input type="date" class="form-control rounded" placeholder="Date of Birth">
                  </div>
                </div><!-- Col -->           
                <div class="form-group col-sm-3 rounded">
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option selected disabled>Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Others</option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <input type="text" class="form-control rounded" placeholder="Speciality">
                  </div>
                </div><!-- Col -->
                <div class="col-sm-3">
                  <div class="form-group">
                    <input type="number" class="form-control rounded" placeholder="Phone">
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="email" class="form-control rounded" placeholder="Enter Your Email">
                  </div>
                </div><!-- Col -->
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="password" class="form-control rounded" autocomplete="off" placeholder="Website URL">
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
  
              <div class="form-group">
                <input (change)="handleFileInput($event)" type="file" name="img[]" class="file-upload-default" id="fileUploadInputExample">
                <div class="input-group col-xs-12" (click)="openFileBrowser($event)">
                  <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                  <span class="input-group-append">
                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="password" class="form-control rounded" placeholder="Password">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="password" class="form-control rounded" placeholder="Confirm Password">
                  </div>
                </div>
              </div>
  
              <div class="form-group">
                <textarea class="form-control rounded" id="exampleFormControlTextarea1" rows="5" placeholder="please type what you want..."></textarea>
              </div>  
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>



    

