<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      
      <li class="breadcrumb-item active" aria-current="page">All Doctors</li>
    </ol>
</nav>
  
  <div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Data Table</h6>
          <div class="table-responsive">
            <p *ngIf="Doctor.length <= 0" class="no-data text-center">There is no Doctor added yet!</p>
            <table id="dataTableExample" class="table"> 
              <thead>
                <tr>
                  <th>Id</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>DOB</th>
                  <th>Gender</th>
                  <th>speciality</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Web Url</th>
                  <th>Image</th>
                  <th>Address</th>
                </tr>
  
                <tr *ngFor="let doctor of Doctor">
                  <td scope="row">{{doctor._id}}</td>
                  <td>{{doctor.firstName}}</td>
                  <td>{{doctor.lastName}}</td>
                  <td>{{doctor.dob}}</td>
                  <td>{{doctor.gender}}</td>
                  <td>{{doctor.speciality}}</td>
                  <td>{{doctor.phone}}</td>
                  <td>{{doctor.email}}</td>
                  <td>{{doctor.webUrl}}</td>
                  <!-- <td>{{doctor.image}}</td> -->
                  <td>{{doctor.address}}</td>
                  
                  <td>                    
                     <!-- view -->
                     <span style="padding-right: 10px;" (click)="open(View_modal)" (click)="getDoctorValue(doctor._id)">
                      <i class="fa fa-eye" aria-hidden="true" style="cursor: pointer;"></i>
                    </span>
                  <!-- edit -->
                  <!-- "['wordpress/', {outlets: outletPaths}]" -->
                    <span style="padding-right: 10px;" (click)="open(Edit_modal)" (click)="getDoctorValue(doctor._id)">
                      <i class="fa fa-pencil" aria-hidden="true" style="cursor: pointer;"></i>
                    </span>
                  <!-- delete -->
                    <span style="padding-right: 10px;" (click)="removeDoctor(doctor._id)">
                      <i class="fa fa-trash" aria-hidden="true" style="cursor: pointer;"></i>
                    </span>
                  </td>                     
                </tr>               
              </thead>           
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- -----------------------------------------pop-up View-------------------------------------------------------- -->
<ng-template #View_modal let-modal>
  <div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
            <h4 class="modal-title" id="modal-basic-title"><b>View Doctor Information</b>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button> 
            </h4>      
          <br>
            <form [formGroup]="doctorForm" class="overflow-auto">
              <div class="row">
                <div class="col-sm-6">
                  <label>First Name</label>
                  <div class="form-group">      
                    <input type="text" class="form-control rounded" formControlName="firstName" readonly>
                  </div>
                </div><!-- Col -->
                <div class="col-sm-6">
                  <label>Last Name</label>
                  <div class="form-group">      
                    <input type="text" class="form-control rounded" formControlName="lastName" readonly>
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
              <div class="row">
                <div class="col-sm-3">
                  <label>Date of Birth</label>               
                  <div class="form-group">      
                    <input type="text" class="form-control rounded" formControlName="dob" readonly>
                  </div>
                </div><!-- Col -->           
                <div class="form-group col-sm-3 rounded">
                  <label>Gender</label>
                  <div class="form-group">      
                    <input type="text" class="form-control rounded" formControlName="gender" readonly>
                  </div>
                </div>
                <div class="col-sm-3">
                  <label>Speciality</label>
                  <div class="form-group">
                    <input type="text" class="form-control rounded" placeholder="Speciality" formControlName="speciality" readonly>
                  </div>
                </div><!-- Col -->
                <div class="col-sm-3">
                  <label>Phone</label>
                  <div class="form-group">
                    <input type="number" class="form-control rounded" placeholder="Phone" formControlName="phone" readonly>
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
              <div class="row">
                <div class="col-sm-6">
                  <label>Email</label>
                  <div class="form-group">
                    <input type="email" class="form-control rounded" formControlName="email" readonly>
                  </div>
                </div><!-- Col -->
                <div class="col-sm-6">
                  <label>Website URL</label>
                  <div class="form-group">
                    <input type="text" class="form-control rounded" autocomplete="off" formControlName="webUrl" readonly>
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
              <label>Address</label>
              <div class="form-group">
                <textarea class="form-control rounded" id="exampleFormControlTextarea1" rows="5" formControlName="address" readonly></textarea>
              </div>  
              <div class="row">
                <div class="col-sm-1">
                  <button class="btn btn-light" (click)="modal.dismiss('Cross click')">cancel</button>
                </div>
              </div>
              <br>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- -------------------------------pop-up Edit-------------------------------------------------------- -->
<ng-template #Edit_modal let-modal>
  <div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
            <h4 class="modal-title" id="modal-basic-title"><b>View Doctor Information</b>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button> 
            </h4>      
          <br>
            <form [formGroup]="doctorForm" class="overflow-auto">
              <div class="row">
                <div class="col-sm-6">
                  <label>First Name</label>
                  <div class="form-group">      
                    <input type="text" class="form-control rounded" formControlName="firstName" >
                  </div>
                </div><!-- Col -->
                <div class="col-sm-6">
                  <label>Last Name</label>
                  <div class="form-group">      
                    <input type="text" class="form-control rounded" formControlName="lastName">
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
              <div class="row">
                <div class="col-sm-6">
                  <label>Date of Birth</label>               
                  <div class="form-group">      
                    <input type="date" class="form-control rounded" formControlName="dob">
                  </div>
                </div><!-- Col -->           
                <div class="form-group col-sm-6 rounded">
                  <label>Gender</label>
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="gender">
                      <option selected disabled>Gender</option>
                      <option>Male</option>
                      <option>Female</option>
                      <option>Others</option>
                    </select>      
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <label>Speciality</label>
                  <div class="form-group">
                    <input type="text" class="form-control rounded" placeholder="Speciality" formControlName="speciality">
                  </div>
                </div><!-- Col -->
                <div class="col-sm-6">
                  <label>Phone</label>
                  <div class="form-group">
                    <input type="number" class="form-control rounded" placeholder="Phone" formControlName="phone">
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
              <div class="row">
                <div class="col-sm-6">
                  <label>Email</label>
                  <div class="form-group">
                    <input type="email" class="form-control rounded" formControlName="email">
                  </div>
                </div><!-- Col -->
                <div class="col-sm-6">
                  <label>Website URL</label>
                  <div class="form-group">
                    <input type="text" class="form-control rounded" autocomplete="off" formControlName="webUrl">
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
              <label>Address</label>
              <div class="form-group">
                <textarea class="form-control rounded" id="exampleFormControlTextarea1" rows="5" formControlName="address"></textarea>
              </div>         
                  <button type="submit" class="btn btn-primary mr-2">Update</button>
                  <button class="btn btn-light" (click)="modal.dismiss('Cross click')">cancel</button>            
              <br><br>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>



  

